@page "/AboutMe"

<PageTitle>About Me</PageTitle>


<div class="glow-block glow">

</div>
    

<div class="container mt-5">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12">
      <div class="form-group">
        <h1 class="text-uppercase text-danger">About Me</h1>
      </div>
      <div class="form-group">
          <p>&emsp; &emsp; I grew up and lived most of my life in a small town named Big Lake, Texas. I was born on September 25th, 2000. Most of my life I loved doing any type of physical activity, but started getting into powerlifting coming into my high school years. I played all of the sports that my school had offered (except for basketball). I am a very humble guy and will hardly brag about what I have in life. I am very thankful for all of the events that had led me to where I am today. I am currently attending Texas Tech University in Lubbock, Texas, pursing a Bachelors degree in Computer Science. I wanted to create this web application or a portfolio to show my love to powerlifting and to broaden anybody's knowledge on lifting. I believe lifting cannot only strengths one's physical self, but also their mind. It takes a lot of dedication and effort to change ones self, but as long as you stick to it, anything can be achievable. I hope you find this page interesting, and hopefully you can learn a thing or two from here.
          </p>
      </div>
    </form>   
  </div>
</div>


<div class="container my-5">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12">
      <div class="form-group">
        <h1 class="text-uppercase text-danger">Achievements</h1>
      </div>
      <div class="form-group">
          <p>&emsp; &emsp; My proudest achievement today is my Texas High School state squat record of 820 lbs (371.946 kg). I set this record my junior year of high school in the year 2018. I also broke the Junior Texas State squat record with 673 lbs (305.268 kg). In my high school career, I had achieved many rewards throughout all of my extraciricular activities. I was named Texas All-State Honorable Mention Linemen in football in the year 2018. All throughout my football career I have made First Team All District on both sides of the ball. My Freshmen year I was named Best Newcomer of the Year. Going into my track career. I have placed in regionals in shotput and discus. My senior year I made it to area and placed 6th in shotput (1 position short to state). I have worked hard all of my life for these achievements and I am not planning on stopping. I am hoping to break more records in the future during my powerlifting career. I always say to myself, this is only the beginning.

          </p>
      </div>
    </form>   
  </div>
</div>
