@page "/FreeWorkout"

<PageTitle>Free Workout Schedule</PageTitle>

<taco-body>
	<div class="grid">
	  <div>
		<h1 class="text-center">Free One Week Workout Program 💪</h1>
		<p> &emsp; &emsp; If you are uncertain on how to execute a certain exercise, please take a look at the Workout Videos tab to see how to properly execute each exercise.
		Also while you are going through this program weekly, remember to implement progressive overload. Progressive overload is they key to build muscle and strength. For upper body,
		you need to increase weight each week by 1.5 times. For lower body, you need to increase weight each week by 2 times. </p>
	  </div>
	  <div>
		<h2>Monday </h2>
		<div class="text-center">
		  <p>Squats 5x5</p>
		  <p>Leg Extensions 3x15</p>
		  <p>Bulgarian Split Squats 3x12 (each)</p>
		  <p>Lat Pull Downs 4x12</p>
		  <p>Seated Rows 4x12</p>
		</div>
	  </div>
	  <div>
		<h2>Tuesday </h2>
		<div class="text-center">
		  <p>Bench 5x5</p>
		  <p>Seated Curls 3x12 (each)</p>
		  <p>Flat Flyes 3x12</p>
		  <p>Concentrated Curls 3x12 (each)</p>
		  <p>Cable Flyes 3x12</p>
		  <p>Seated Barbell Wrist Curls and Reverse Wrist Curls  30, 25, 20, 15 (Do wrist curls first, then reverse wrist curls)</p>
		</div>
	  </div>
	  <div>
		<h2>Wednesday</h2>
		<div class="text-center">
		  <p>Deadlifts 5x5</p>
		  <p>Dumbbell Romainian Deadlifts 3x12</p>
		  <p>Seated Leg Curls 3x12</p>
		  <p>Leg Extensions 3x12</p>
		  <p>Reverse Dumbbell Lunges 3x12 (each)</p>
		</div>
	  </div>
	  <div>
		<h2>Thursday </h2>
		<div class="text-center">
		  <p>Bench 5x5</p>
		  <p>Close Grip Bench 4x8</p>
		  <p>Overhead Tricep Extension 4x12 (One hand for 12 then the other)</p>
		  <p>Overhead Tricep Extension 3x8 (Both hands on the dumbbell)</p>
		  <p>Cabel Tricep Pull Downs 3x12</p>
		  <p>Seated Barbell Wrist Curls and Reverse Wrist Curls  30, 25, 20, 15 (Do wrist curls first, then reverse wrist curls)</p>
		</div>
	  </div>
	  <div>
		<h2>Friday </h2>
		<div class="text-center">
		  <p>Pause Squats 3x5 (Two second pause at the bottom)</p>
		  <p>Deadlifts 3x4 (Pull and reset as fast as you can, but under control)</p>
		  <p>Leg Extension 3x15</p>
		  <p>Leg Curls 3x15</p>
		  <p>Reverse Dumbbell Lunges 3x12 (each)</p>
		  <p>Plie Squats 4x12</p>
		</div>
	  </div>
	</div>
</taco-body>