@page "/"

<PageTitle>Welcome to Big T's Workshop</PageTitle>

<!-- This is the Video that is playing on the Homepage -->
<header>

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://drive.google.com/uc?export=download&id=12rDhM7kn3ksGNqul-5WdrC8Vlig7Wcqa" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-danger">
        <h1 class="display-3">Get Better Every Day</h1>
      </div>
    </div>
  </div>
  
  <div class="parent-loader-51">
      <div class="loader-51"></div>
  </div>

</header>

<div class="container vh-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12">
      <div class="form-group">
        <h1 class="text-uppercase text-danger">Big T's Workshop</h1>
      </div>
      <div class="form-group">
          <p>&emsp; &emsp;     Big T's Workshop was created to help out those in need of a workout program to get bigger, healthier, stronger, or to look better. I have been in the fitness industry competing and coaching for 
              eight years. I currently hold the Texas High School squat record of 820 lbs (371.95 kg) and was named Best Heavyweight Squatter of 2018 at the meet. I know a thing or two when it comes to training for strength.
              I also broke and held the USPA Texas Junior Raw state squat record of 673.5lbs (305.5 kg). I am proud of these achievements and I believe these are a great representation that I know what I am doing and talking
              about. I am here to make you stronger and healthier while also showing you how to properly execute each exercise. Welcome to the T fam and I hope you enjoy your time here. Get Better Every Day.
          </p>
          <p class="text-end">- Big T</p>
      </div>
    </form>   
  </div>
</div>




<h1 class="title h-100 text-danger">Pictures of My Journey</h1>
<div class="slider" x-data="{start: true, end: false}">
  <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
    <div class="slider__item">
      <img class="slider__image" src="https://i2.lensdump.com/i/tPJi65.jpg" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i1.lensdump.com/i/tPCGPo.jpg" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i.lensdump.com/i/tPJ0wT.jpg" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i2.lensdump.com/i/tPChj9.png" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i.lensdump.com/i/tPC5Ki.jpg" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i3.lensdump.com/i/tPJrfr.png" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i2.lensdump.com/i/tPCwbP.jpg" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i1.lensdump.com/i/tPJZtb.png" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i.lensdump.com/i/tPJ1jF.png" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i2.lensdump.com/i/tPJgK7.png" alt="Image">
      <div class="slider__info">
      </div>
    </div>
    <div class="slider__item">
      <img class="slider__image" src="https://i3.lensdump.com/i/tPJjzz.jpg" alt="Image">
      <div class="slider__info">
      </div>
    </div>
  </div>
  <div class="slider__nav">
    <button class="slider__nav__button" x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth * -1, behavior: 'smooth'});" x-bind:class="start ? '' : 'slider__nav__button--active'">Previous</button>
    <button class="slider__nav__button" x-on:click="$refs.slider.scrollBy({left: $refs.slider.offsetWidth, behavior: 'smooth'});" x-bind:class="end ? '' : 'slider__nav__button--active'">Next</button>
  </div>
</div>
