@page "/WorkoutVideos"

<PageTitle>Workout Videos</PageTitle>

<taco-body>
	<div class="grid">
	  <div>
		<h1 class="text-center">Workout videos to show you how to properly execute certain exercises</h1>
		<p> &emsp; &emsp; In this page I have included videos that I personally used to educated myself on how to lift properly. Some of these videos are a little long and some of the videos are short and simple. I wanted to created this page to give you a good explanation on how to properly perform an exercise. Knowing how to properly perform a certain excerise is a major key to actually see improvements throughout your journey. If you are lifting with improper technique, you are not going to see any improvement and are going to be stuck with the same physique. Properly perform exercises, so you can see progression. Happy lifting! </p>
	  </div>
    </div>
</taco-body>

<div style="width: 100%; height: 30px; border-bottom: 1px solid #DF4759; text-align: center">
  <span style="font-size: 40px; background-color: black; padding: 0px 20px; color: #DF4759;">
    Upper Body
  </span>
</div>

<main class="page-content pt-5">
  <div class="card" style="background-image: url(https://static.strengthlevel.com/images/illustrations/bench-press-1000x1000.jpg);">
    <div class="content">
      <h2 class="title">Bench</h2>
      <p class="copy">Bench</p>
        <a href="https://www.youtube.com/watch?v=2PHQx81CREw" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://hips.hearstapps.com/vidthumb/brightcove/57893e52e694aa370d882e83/thumb_1468612181.png?fill=2:1&resize=640:*);">
    <div class="content">
      <h2 class="title">Seated Curls</h2>
      <p class="copy">Seated Curls</p>
      <a href="https://www.youtube.com/watch?v=soxrZlIl35U" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://s3.amazonaws.com/prod.skimble/assets/1755563/image_iphone.jpg);">
    <div class="content">
      <h2 class="title">Flat Flyes</h2>
      <p class="copy">Flat Flyes</p>
      <a href="https://www.youtube.com/watch?v=eozdVDA78K0" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTfJ6a26cE1LQiKgNn8aSxPfW3iR3M5xVmVQ&usqp=CAU);">
    <div class="content">
      <h2 class="title">Concentrated Curls</h2>
      <p class="copy">Concentrated Curls</p>
      <a href="https://www.youtube.com/watch?v=Jvj2wV0vOYU" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://cdn.muscleandstrength.com/sites/default/files/standing-high-to-low-cable-fly-1.jpg);">
    <div class="content">
      <h2 class="title">Cable Flyes</h2>
      <p class="copy">Cable Flyes</p>
      <a href="https://www.youtube.com/watch?v=Iwe6AmxVf7o" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://static.strengthlevel.com/images/illustrations/close-grip-bench-press-1000x1000.jpg);">
    <div class="content">
      <h2 class="title">Close Grip Bench</h2>
      <p class="copy">Close Grip Bench</p>
      <a href="https://www.youtube.com/watch?v=wxVRe9pmJdk" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://hips.hearstapps.com/vidthumb/brightcove/57893f70e694aa370d8831d5/thumb_1468612465.png?fill=2:1&resize=640:*);">
    <div class="content">
      <h2 class="title">Overhead Tricep Extension (One-Handed)</h2>
      <p class="copy">Overhead Tricep Extension</p>
      <a href="https://www.youtube.com/watch?v=jTQWYdWLvys" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://hips.hearstapps.com/vidthumb/brightcove/57893eece694aa370d88304d/thumb_1468612333.png?fill=2:1&resize=640:*);">
    <div class="content">
      <h2 class="title">Overhead Tricep Extension (Two-Handed)</h2>
      <p class="copy">Overhead Tricep Extension</p>
      <a href="https://www.youtube.com/watch?v=YbX7Wd8jQ-Q" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://fitnessvolt.com/wp-content/uploads/2019/04/vb5ohsj3eme.jpg);">
    <div class="content">
      <h2 class="title">Cabel Tricep Pull Downs</h2>
      <p class="copy">Cabel Tricep Pull Downs</p>
      <a href="https://www.youtube.com/watch?v=2-LAMcpzODU" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://hips.hearstapps.com/vidthumb/brightcove/57893fe0e694aa370d88331d/thumb_1468612577.png?fill=2:1&resize=640:*);">
    <div class="content">
      <h2 class="title">Seated Barbell Wrist Curls</h2>
      <p class="copy">Seated Barbell Wrist Curls</p>
      <a href="https://www.youtube.com/watch?v=jJba8UFi-TU" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://fitstop24.com/media/barbell-seated-reverse-wrist-curl_6.jpg.400x330_q95_crop-%2C_filters-detail.jpg);">
    <div class="content">
      <h2 class="title">Seated Reverse Barbell Wrist Curls</h2>
      <p class="copy">Seated Reverse Barbell Wrist Curls</p>
      <a href="https://www.youtube.com/watch?v=FW7URAaC-vE" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
</main>


<div style="width: 100%; height: 30px; border-bottom: 1px solid #DF4759; text-align: center">
  <span style="font-size: 40px; background-color: black; padding: 0px 20px; color: #DF4759;">
    Lower Body
  </span>
</div>

<main class="page-content pt-5">
  <div class="card" style="background-image: url(https://i0.wp.com/www.strengthlog.com/wp-content/uploads/2020/06/Wide-stance-high-bar-squat.jpg?fit=1024%2C732&ssl=1);">
    <div class="content">
      <h2 class="title">Squats</h2>
      <p class="copy">Squats</p>
      <a href="https://www.youtube.com/watch?v=61Plfzis9R0" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://www.dmarge.com/wp-content/uploads/2022/05/how-to-do-leg-extension.jpg);">
    <div class="content">
      <h2 class="title">Leg Extensions</h2>
      <p class="copy">Leg Extensions</p>
      <a href="https://www.youtube.com/watch?v=swZQC689o9U" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://qph.fs.quoracdn.net/main-qimg-424095c6fe21bd7355501571c5c51ead-lq);">
    <div class="content">
      <h2 class="title">Bulgarian Split Squat</h2>
      <p class="copy">Bulgarian Split Squat</p>
      <a href="https://www.youtube.com/watch?v=2C-uNgKwPLE" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://legionathletics.com/wp-content/uploads/2021/04/Image-3.png);">
    <div class="content">
      <h2 class="title">Deadlift</h2>
      <p class="copy">Deadlift</p>
      <a href="https://www.youtube.com/watch?v=67rdp8sjzgA" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://d3h9ln6psucegz.cloudfront.net/wp-content/uploads/2018/01/The_Dumbbell_RDL.jpg);">
    <div class="content">
      <h2 class="title">Dumbbell Romainian Deadlifts</h2>
      <p class="copy">Dumbbell Romainian Deadlifts</p>
      <a href="https://www.youtube.com/watch?v=hQgFixeXdZo" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://static.strengthlevel.com/images/illustrations/seated-leg-curl-1000x1000.jpg);">
    <div class="content">
      <h2 class="title">Seated Leg Curls</h2>
      <p class="copy">Seated Leg Curls</p>
      <a href="https://www.youtube.com/watch?v=fDoVmFnnOE0" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://cdn.muscleandstrength.com/sites/default/files/dumbbell-rear-lunge.jpg);">
    <div class="content">
      <h2 class="title">Reverse Dumbbell Lunges</h2>
      <p class="copy">Reverse Dumbbell Lunges</p>
      <a href="https://www.youtube.com/watch?v=sjlsISvHyZs" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://i.pinimg.com/736x/72/ea/d8/72ead87d86d57422721faaa1408e235d.jpg);">
    <div class="content">
      <h2 class="title">Pause Squats</h2>
      <p class="copy">Pause Squats</p>
      <a href="https://www.youtube.com/watch?v=RH_7Efvn35w" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://i.pinimg.com/originals/05/4b/de/054bde6c8647b28497c804d098aa7604.jpg);">
    <div class="content">
      <h2 class="title">Dumbbell Plie Squats</h2>
      <p class="copy">Dumbbell Plie Squats</p>
      <a href="https://www.youtube.com/watch?v=DlnYtOX5zIo" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
</main>



<div class="test" style="width: 100%; height: 30px; border-bottom: 1px solid #DF4759; text-align: center">
  <span style="font-size: 40px; background-color: black; padding: 0px 20px; color: #DF4759;">
    Back
  </span>
</div>

<main class="page-content my-5">
  <div class="card" style="background-image: url(https://images.squarespace-cdn.com/content/v1/5c641b18da50d324fa8e85f0/1558764532974-X0MZTG3210VMICGPBVPN/ke17ZwdGBToddI8pDm48kCRLuWrNEPrnA-jGkVwKD0t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UbP5ZWMC_rBF3YLFtyM-0ewIZ9Q-DuGcm_rhdHMHSbzPd4HtsY2Zp0IDlVqCi5FVIw/how%2Bto%2Bperform%2Bthe%2Blat%2Bpull%2Bdown.jpg);">
    <div class="content">
      <h2 class="title">Lat Pull Downs</h2>
      <p class="copy">Lat Pull Downs</p>
      <a href="https://www.youtube.com/watch?v=an1BMInTXLk" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
  <div class="card" style="background-image: url(https://whitecoattrainer.com/wp-content/uploads/2019/03/493f6-how-to-do-rows-correctly-3.jpg);">
    <div class="content">
      <h2 class="title">Seated Rows</h2>
      <p class="copy">Seated Rows</p>
      <a href="https://www.youtube.com/watch?v=GZbfZ033f74" target="_blank" class="btn">Watch Video</a>
    </div>
  </div>
</main>
