<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-danger" href="">Big T's Workshop</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="FreeWorkout">
                        <span class="fa fa-calendar" aria-hidden="true"></span> Free Workout
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="WorkoutVideos">
                        <span class="fa fa-video-camera" aria-hidden="true"></span> Workout Videos
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="ProteinCalculator">
                        <span class="fa fa-calculator" aria-hidden="true"></span> Protein Calculator
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="AboutMe">
                        <span class="fa fa-user" aria-hidden="true"></span> About Me
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="ContactMe">
                        <span class="fa fa-phone" aria-hidden="true"></span> Contact Me
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
